@model TaskManager.MVC.Web.Models.UserModel

@{
    ViewData["Title"] = "Log in";
}

<div class="login-form">
    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
        <div class="login-group">
            <label asp-for="UserName" class="login-label"></label>
            <input asp-for="UserName" class="form-control login-input" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="login-group">
            <label asp-for="Password" class="login-label"></label>
            <input asp-for="Password" class="form-control login-input" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="login-group">
            <button type="submit" class="btn btn-light">Log in</button>
        </div>
        <div class="login-group">
            <p>Don't have an account? </p>
            <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
